{% extends 'lauftreff/base_layout.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}

  {% for field in form %}
  <div class="form-group">
    <label>{{ field.label_tag }}</label><br>
    {{ field }}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-light">Registrieren</button>
</form>
{% endblock %}

{% block well %}
  <h2>Registrieren</h2>
{% endblock %}
