{% extends 'lauftreff/base_layout.html' %}

{% block content %}

<div class="mb-5">
Hier ist ein Umfragetool zur Terminfindung geplant.<br>
Im Gegensatz zu Doodle und den Nextcloud Polls sollen die Zeitslots automatisiert für zukünftige Wochen angelegt und verwaltet werden.<br>
Wenn das Tool ausreichend angenommen wird, ist es auch denkbar Nutzer automatisiert über "Matches" zu benachrichtigen, falls mehrere andere Nutzer sich einen Lauf im gleichen Zeitslot vorstellen könnten
</div>

<div class="mb-5">
<h2>Anforderungen</h2>
<ul>
  <li>Die Terminfindung erfordert einen angemeldete Session</li>
  <li>Nutzer sollten für jede Woche ihre verfügbaren Zeitslots auswählen können</li>
  <li>Nutzer sollten die Möglichkeit haben Serien zu definieren ("dieser Zeitslot jede Woche")</li>
  <li>Nutzer sollten in der Lage sein bestehende Einträge zu ändern</li>
  <li>Zeitslots sollten wöchentlich / monatlich im Vorraus automatisiert generiert werden</li>
  <li>Nutzer sollten zwei Übersichten nutzen können:
    <ul>
      <li>Alle Eingaben aller Nutzer für eine beliebige Woche in einer tabellatischen Übersicht (-> Doodle)</li>
      <li>Pro eigenem verfügbaren Zeitslot sollte es möglich sein alle Nutzer, die ebenfalls diesen Zeitslot als verfügbar eingetragen haben, aufzulisten</li>
    </ul>
  </li>
  <li>Zu festgelegten Zeitpunkten soll eine E-Mail an alle Nutzer, die eingewilligt haben, geschickt werden. Diese E-Mail soll eine Übersicht der kommenden x Tage liefern und Awareness für dieses Tool schaffen</li>
  <li>Nutzer sollen sich jederzeit von der E-Mail Kommunikation abmelden können ohne Einschränkungen in der WebApp zu erhalten</li>
</ul>
</div>
{% endblock %}

{% block well %}
  <h2>Terminfindung</h2>
{% endblock %}
